*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .area{
    display: flex;
    margin: 20px;
}
input{
    margin-right: 15px;
    padding: 4px 10px;
}
button{
    padding: 0 4px;
}